body {
	text-align: center;
    font-family: cursive;
	color: rgb(6, 66, 50);
	background-color: rgb(245, 186, 187);
}

.dark-mode {
  background-color: #454545;
  color: beige;
  opacity: 0.5;
}

.logo{
	height: 100px;
}

.icon{
	height: 18px;
	width: 18px;
}

.timer img{
	height: 18px;
	width: 18px;
}

.flag{
	height: 12px;
	width: 12px;
}

.game-container{
	margin: auto;
	background-color: rgb(162, 213, 198);
	width: fit-content;
	height: fit-content;
	border: 5px solid rgb(245, 186, 187);
}

table {
	margin: auto;
}

.cell {
	width: 30px;
	height: 30px;
	font-size: large;
	color: black;
	background-color: rgb(86, 143, 135);
	border: 2px solid rgb(162, 213, 198);
	border-radius: 5%;
	box-shadow: 2px 2px 2px 2px gray;
	cursor: pointer;
}

.hide{
    display: none;
}

.panel{
	width: fit-content;
	height: fit-content;
	padding: 2px;
	display: inline-flex;
}

.board-container{
	margin: auto;
}

.lives{
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
}

.mines-num, 
.timer{
	margin: 2px;
	background-color: rgb(86, 143, 135);
	width: 80px;
	height: 35px;
	color: rgb(255, 245, 242);
	font-size: small;
	text-align: center;
	line-height: 35px;
}

button{
	border-color: rgb(162, 213, 198);
	background-color: rgb(86, 143, 135);
	color: rgb(255, 245, 242);
	width: 40px;
	height: 37px;
	cursor: pointer;
	font-size: larger;
	border-radius: 10%;
	font-family: cursive;
}

.dark-light-mode-btn{
	font-size: smaller;
	width: 90px;
	height: 22px;
}

.hint-btn{
	margin: 2px;
	margin-bottom: 8px;
	background-color: rgb(255, 245, 242);
}

.levels button {
	margin: 5px;
	background-color: rgb(86, 143, 135);
	color: rgb(255, 245, 242);
	font-size: small;
	width: 90px;
	height: 40px;
}

.bottom-btn-panel{
	margin-bottom: 10px;
}

.safe-click,
.mine-exterminator {
	width: 90px;
	height: 60px;
	padding-right: 2px;
	padding-left: 2px;
	font-size: small;
	color: black;
	background-color: rgb(162, 213, 198);
	
}

footer{
	margin-top: 500px;
	color: rgb(86, 143, 135);
}
